body {
  overflow-x: hidden;
}

.wrapper {
  min-height: 105vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.filmsCoverRoot {
  pointer-events: none;
  opacity: 0.3;
  height: 100vh;
  position: absolute;
  top: -6rem;
  right: 0;
  bottom: 0;
  left: -34rem;
  transform: translate3d(17rem, 0, 0) rotate(10deg);
}

.filmsCoverRow {
  display: flex;
  gap: 1.6rem;
  height: 20vh;
  margin: 0 1.6rem 1.6rem 0;
  transform: translate3d(17rem, 0, 0) rotate(2deg);
  z-index: 1;

  & .filmsCoverPoster {
    border-radius: 0.8rem;
  }
}

.onBoardRoot {
  display: flex;
  gap: 100px;
  flex-direction: column;
  justify-content: center;
}

.onBoardContent {
  position: relative;
  z-index: 1;
  display: flex;
  padding-top: 7.2rem;
  padding-bottom: 0;
  text-align: center;
  justify-content: center;

  & .onBoardHeader {
    width: 60%;
  }
}

.textRootH1 {
  color: white;
  font-size: 3.2rem;
}

.textRootH2 {
  font-size: 3.2rem;
  color: #868eff;
}

.textRootP {
  font-size: 1.4rem;
  margin-top: 1.6rem;
  font-weight: 400;
  color: hsl(0deg 0% 100% / 70%);
}

.logo {
  height: 46px;
  margin: 0 auto;
}

.onBoardRangeRoot {
  display: flex;
  padding-bottom: 10.6rem;
}

.rangeColumnOne {
  width: 60%;
  padding: 0 0.1rem 0 0;
}

.rangeColumnTwo {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: inherit;
  min-height: 4.7rem;
  padding: 0 0 0 0.1rem;
}

.buttonWrap {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.button {
  cursor: pointer;
  pointer-events: all;
  border-radius: 12px;
  padding: 0 2rem;
  font-size: 1rem;
  color: var(--white);
  height: 3.8rem;
  background: radial-gradient(96.72% 187.09% at 0% 100.29%,#ff5c00 5.21%,#ea507c 25.52%,#b941ef 48.44%,#5b61ff 70.83%,#21bee7 93.75%);;
  transform: scale(1);
  transition: scale 200ms ease;

  &:hover {
    transform: scale(1.05);
  }
}

.roll {
  display: flex;
  justify-content: center;
}

.rollText {
  color: hsl(0deg 0% 100% / 60%);
  margin-bottom: 10px;
}



//DEVICE MOBILE ROOT



.devicesMobileRoot {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 0 100px;
  width: 100%;
}

.devicesMobileLeft {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}

.h3 {
  color: white;
  font-size: 32px;
  line-height: 60px;
  letter-spacing: 0;
}

.textRoot {
  display: flex;
  gap: 15px;
  font-weight: 500;
  letter-spacing: 0;
  color: white;
  opacity: 0.6;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.appLinksApplications {
  display: flex;
  gap: 10px;
}

.copyrights {
  display: flex;
  gap: 10px;
  width: 29rem;
  font-size: 10px;
  flex-direction: column;
}

.copyrightsTextRoot {
  display: flex;
  gap: 15px;
  font-weight: 300;
  letter-spacing: 0;
  color: white;
  opacity: 0.3;
}

.devicesMobileRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.devicesMobileImg {
  pointer-events: none;
  width: 640px;
  height: 480px;
}



// onBoardingDevices



.onBoardingDevices {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

.sectionHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  align-items: center;
  padding: 50px 0 64px;

  & .textRootDevices {
    font-size: 24px;
    color: white;
    opacity: 0.5;
  }
}

.h2 {
  color: white;
  font-size: 48px;
  line-height: 75px;
}

.onBoardingDevicesContent {
  width: 100%;
  padding-top: 20px;
}

.devicesGridDisclaimer {
  font-weight: 400;
  display: flex;
  font-size: 13px;
  gap: 5px;
  color: white;
  opacity: 0.5;
  padding-top: 10px;
}

.devicesGridTitle {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.onBoardingDevicesGrid {
  display: grid;
  margin: 0 0 1.6rem;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 1.6rem;
  gap: 1.6rem;
}

.DevicesGridYandex {
  grid-area: 1/1/3/3;
  position: relative;
  overflow: hidden;
  padding: 2.4rem;
  text-decoration: none;
  border-radius: 1.6rem;
  background-color: hsla(0,0%,47%,.1);
  will-change: transform;
  transition: background-color 300ms ease,transform 300ms ease;

  &:hover {
    background-color: white;
    transform: scale(1.05);

    & .DevicesLogo {
      fill: #000;
    }

    & .V5VOOYandex {
      stroke: #f60;
    }

    & .devicesGridTitle {
      color: black;
    }

    & .devicesGridDisclaimer {
      color: black;
    }
  }

  & .V5VOOYandex {
      position: absolute;
      z-index: -1;
      stroke: #777;
      transition: stroke 300ms ease, fill 300ms ease;
      bottom: -15rem;
      left: -4rem;
      width: 150%;
      height: 150%;
      overflow: hidden;
  }
}

.DevicesGridSamsung {
  grid-area: 1/3/2/5;
  position: relative;
  overflow: hidden;
  padding: 2.4rem;
  text-decoration: none;
  border-radius: 1.6rem;
  background-color: hsla(0,0%,47%,.1);
  will-change: transform;
  transition: background-color 300ms ease,transform 300ms ease;

  &:hover {
    background-color: white;
    transform: scale(1.05);

    & .DevicesLogo {
      fill: #000;
    }

    & .V5VOOSamsung:hover {
      stroke: #f60;
    }

    & .devicesGridTitle {
      color: black;
    }

    & .devicesGridDisclaimer {
      color: black;
    }
  }

  & .V5VOOSamsung {
      position: absolute;
      z-index: -1;
      stroke: #777;
      right: -12rem;
      transition: stroke 300ms ease, fill 300ms ease;
      bottom: -16rem;
      overflow: hidden;
  }
}

.DevicesGridLG {
  grid-area: 2/3/3/5;
  position: relative;
  overflow: hidden;
  padding: 2.4rem;
  text-decoration: none;
  border-radius: 1.6rem;
  background-color: hsla(0,0%,47%,.1);
  will-change: transform;
  transition: background-color 300ms ease,transform 300ms ease;

  &:hover {
    background-color: white;
    transform: scale(1.05);

    & .DevicesLogo {
      fill: #000;
    }

    & .V5VOOLG:hover {
      stroke: #f60;
    }

    & .devicesGridTitle {
      color: black;
    }

    & .devicesGridDisclaimer {
      color: black;
    }
  }

  & .V5VOOLG {
      position: absolute;
      z-index: -1;
      stroke: #777;
      transition: stroke 300ms ease, fill 300ms ease;
      top: -14rem;
      right: -12rem;
      overflow: hidden;
  }
}

.DevicesGridAndroid {
  position: relative;
  overflow: hidden;
  padding: 2.4rem;
  text-decoration: none;
  border-radius: 1.6rem;
  background-color: hsla(0,0%,47%,.1);
  will-change: transform;
  display: flex;
  flex-direction: column;
  grid-area: 1/5/2/7;
  justify-content: space-between;
  transition: background-color 300ms ease,transform 300ms ease;

  &:hover {
    background-color: white;
    transform: scale(1.05);

    & .DevicesLogo {
      fill: #000;
    }

    & .V5VOOAndroid:hover {
      stroke: #f60;
    }

    & .devicesGridTitle {
      color: black;
    }

    & .devicesGridDisclaimer {
      color: black;
    }
  }

  & .V5VOOAndroid {
      position: absolute;
      z-index: -1;
      stroke: #777;
      bottom: 0;
      transition: stroke 300ms ease, fill 300ms ease;
      align-self: center;
      transform: translateX(4%);
      overflow: hidden;
  }
}

.DevicesGridXiaomi {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  border-radius: 1.6rem;
  background-color: hsla(0,0%,47%,.1);
  will-change: transform;
  transition: background-color 300ms ease,transform 300ms ease;
  display: flex;
  padding: 0;
  grid-area: 2/5/3/6;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: white;
    transform: scale(1.05);

    & .DevicesLogo {
      fill: #000;
    }

    & .V5VOOXiaomi:hover {
      stroke: #f60;
    }
  }

  & .V5VOOXiaomi {
    position: absolute;
    z-index: -1;
    stroke: #777;
    top: 0;
    transition: stroke 300ms ease, fill 300ms ease;
    right: 0;
    overflow: hidden;
  }
}

.DevicesGridSony {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  border-radius: 1.6rem;
  background-color: hsla(0,0%,47%,.1);
  will-change: transform;
  transition: background-color 300ms ease,transform 300ms ease;
  display: flex;
  padding: 0;
  grid-area: 2/6/3/7;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: white;
    transform: scale(1.05);

    & .DevicesLogo {
      fill: #000;
    }

    & .V5VOOSony:hover {
      stroke: #ff6600;
    }
  }

  & .V5VOOSony {
      position: absolute;
      z-index: -1;
      stroke: #777;
      top: 0;
      transition: stroke 300ms ease, fill 300ms ease;
      left: 0;
      overflow: hidden;
  }
}

.DevicesGridApple {
  position: relative;
  overflow: hidden;
  padding: 2.4rem;
  text-decoration: none;
  border-radius: 1.6rem;
  background-color: hsla(0,0%,47%,.1);
  will-change: transform;
  display: block;
  transition: background-color 300ms ease,transform 300ms ease;
  grid-area: 1/7/2/9;

  &:hover {
    background-color: white;
    transform: scale(1.05);

    & .DevicesLogo {
      fill: #000;
    }

    & .V5VOOApple:hover {
      stroke: #f60;
    }
  }

  & .V5VOOApple {
      position: absolute;
      z-index: -1;
      stroke: #777;
      transition: stroke var(--transition-parameters),fill var(--transition-parameters);
      top: 1rem;
      right: 0;
      overflow: hidden;
  }
}

.DevicesGridAll {
  position: relative;
  overflow: hidden;
  padding: 2.4rem;
  text-decoration: none;
  border-radius: 1.6rem;
  background-color: hsla(0,0%,47%,.1);
  will-change: transform;
  display: flex;
  transition: background-color 300ms ease,transform 300ms ease;
  flex-direction: column;
  text-align: center;
  grid-area: 2/7/3/9;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: white;
    transform: scale(1.05);

    & .DevicesLogo {
      fill: #000;
    }

    & .devicesGridTitle {
      color: black;
    }

    & .devicesGridDisclaimer {
      color: black;
    }
  }
}

.DevicesLogo:hover {
    fill: #000;
  }



// YA PLUS ROOT

.yaPlusRoot {
  padding: 100px 0 100px 0;
  display: flex;
  flex-direction: column;
}

.yaPlusHeader {
  display: flex;
  justify-content: center;
}

.yaPlusContent {
  display: flex;
  width: 100%;
  padding: 100px;
}

.yaPlusMusic {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.yaPlusMusicHeader {
  font-size: 48px;
  font-weight: 900;
  color: white;
}

.yaPlusMusicText {
  font-size: 22px;
  color: white;
  opacity: 0.7;
  font-weight: 300;
}

.yaPlusGo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.yaPlusDrive {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.yaPlusMarket {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.yaPlusIcon {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 0 2rem;
}

.yaPlusLogoHeader {
  color: white;
  font-size: 24px;
  line-height: 20px;
}

.yaPlusLogoText {
  color: white;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 300;
}

.yaPlusWrap {
  display: flex;
  gap: 50px;
}

.yaPlusAnimation {
  display: flex;
}

.yaPlusLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  align-content: flex-start;
  justify-content: space-between;
  gap: 80px;
}

.yaPlusMusic {
  width: 100%;
}

.yaPlusRight {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  align-content: flex-start;
  justify-content: space-between;
}


.yaPlusPhone {
  pointer-events: none;
  width: 650px;
  height: 1000px;
  position: absolute;
  top: -75px;
  left: 0;
}

.yaPlusAirPodLeft {
  pointer-events: none;
  position: absolute;
  top: 7rem;
  left: 0;
}

.yaPlusAirPodRight {
  pointer-events: none;
  position: absolute;
  top: 1rem;
  left: 15rem;
}
